$wd: 700px * 595px / 842px;
$wd1: 500px * 595px / 842px;
$wd2: 300px * 595px / 842px;
$green:  rgb(26, 194, 26);
.output-left-document {
    width: $wd;
    height: 610px;
    margin-bottom: 10px;
}

.output-left, .output-right {
    border: 1px solid #79CBCA;
    flex: 1;
    height: 700px;
}

@media screen and (max-width: 600px) {
    .output-left-document {
        width: $wd1;
        height: 410px;
    }

    .output-left, .output-right {
        height: 500px;
    }
}

@media screen and (max-width: 435px) {
    .output-left-document {
        width: $wd2;
        height: 210px;
    }

    .output-left, .output-right {
        height: 300px;
    }
}

.output-right{
    .title{
        width: 100%;
        display: flex;
        color: grey;
        padding: 1rem;
        .texlines{
            margin-right: 0.5rem;
            &:hover{
                color: $green;
            }
        }
    }
    .table{
        width: 100%;
        tr{
            border: solid 1px #eeeeee;
        }
        .header{
            background-color: #dbf3ff;
            .text{
                width: 75%;
            }
        }
        
        .cover-box{
            background-color: #a3f4a3;
            color: #026e02;
            border: solid 1px #026e02;
            text-align: center;
            width: 4rem;
        }
    }
}